{
  "presets": ["env", "react"],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }]
  ]
}