.login-container {
  margin: 200px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px 10px 40px;
}

.login-form {
  max-width: 300px;
}

.login-form-button {
  width: 100%;
}