.project-container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  content {
    display: flex;
  }
  header {
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 0;
    }
    margin: 20px 0;
  }
  .actions-menu {
    width: 200px;
    margin-top: 20px;
  }
}